.field{
    text-align: center;
}

 .a {
    --p: 0;
    --q: calc(1 - var(--p));
    overflow: hidden;
    position: relative;
    z-index: 1;
    width: 12em;
    background: #fff;
    color: #000;
    font: 700 1.125em/ 3 trebuchet ms, sans-serif;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
  }

  /*
  .a:before, .a:after {
    --i: var(--p);
    --j: calc(1 - var(--i));
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: calc(var(--j)*(100% - 12.36932em));
    width: 12.36932em;
    transform-origin: calc(var(--j)*100%) calc(var(--i)*100%);
    transform: rotate(-14.03624deg) translate(calc(var(--q)*(1 - 2*var(--i))*-100%));
    box-shadow: 0 0 0 1px currentcolor;
    background: currentcolor;
    color: #ef4654;
    transition: transform .5s ease-in-out;
    content: "";
  }
  .a:after {
    --i: var(--q);
  }
  .a:hover, .a:focus {
    --p: 1;
  }
  
  #btn--yp {
    box-sizing: content-box;
    position: fixed;
    z-index: 9;
    bottom: 1em;
    right: 1em;
    border: solid 1em transparent;
    width: 4.625em;
    height: 3.25em;
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/2017/icon-yp.svg) 50%/cover content-box;
    font: 16px/ 1.25 trebuchet ms, sans-serif;
    text-indent: 200vw;
    text-shadow: none;
    filter: grayscale(1) drop-shadow(0 0 1px #e8e0e0);
    transition: .5s;
    white-space: nowrap;
  }
  #btn--yp:before {
    box-sizing: inherit;
    position: absolute;
    left: 0;
    bottom: 100%;
    margin: 1em -.5em;
    padding: .5em;
    width: 100%;
    border-radius: 5px;
    background: #e8e0e0;
    color: #000;
    text-align: center;
    text-decoration: none;
    text-indent: 0vw;
    white-space: normal;
    animation: float 1s ease-in-out infinite alternate;
    content: attr(data-txt);
  }
  #btn--yp:hover, #btn--yp:focus {
    outline: none;
    filter: grayscale(0) drop-shadow(0 0 1px crimson);
  }
  
  @keyframes float {
    to {
      transform: translateY(0.75em);
    }
  } */